<div class="main-container">
  <div class="cnt-title">
    <h3>{{title}}</h3>
  </div>
  <p>    
    为了保证您的帐号安全，更换密保邮箱前请先进行安全验证
  </p>
  <form class="form-horizontal" name="changeEmail" ng-submit="submit()">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">当前邮箱：</label>
      <div class="col-sm-5">
        <input type="email" class="form-control" id="inputEmail3" 
          placeholder="当前用户的邮箱"
          ng-model="email.odd"
          name="oddEmail" required>          
      </div>
      <div class="col-sm-5 error" ng-show="changeEmail.oddEmail.$dirty && changeEmail.oddEmail.$invalid">
        请填写正确的邮箱
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">修改邮箱:</label>
      <div class="col-sm-5">
        <input type="email" class="form-control" id="inputPassword3" 
          placeholder="新的邮箱"
          ng-model="email.new"
          name="newEmail" required>
      </div>
      <div class="col-sm-5 error" ng-show="changeEmail.newEmail.$dirty && changeEmail.newEmail.$invalid">
        请填写正确的邮箱
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-disabled="changeEmail.$invalid">确定</button>
      </div>
    </div>
  </form>
</div>