<div class="main-container">
    <div class="cnt-title">
        <h3>修改手机</h3>
    </div>
    <form class="form-horizontal" name="changeMobile" ng-submit="submit()">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">当前手机号：</label>
          <div class="col-sm-5">
            <span class="form-control">{{mobile.cur}}</span>
           <!--  <input type="email" class="form-control" id="inputEmail3" 
              placeholder="获取"
              ng-model=""
              disabled>   -->        
          </div>         
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">验证码:</label>
          <div class="col-sm-3">
            <input type="number" class="form-control" id="inputPassword3" style="width:150px" 
              ng-model="mobile.code"
              ng-length=6 required>           
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-default" ng-click="getCode()">获取验证码</button> 
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">当前手机号：</label>
          <div class="col-sm-5">
            <input type="number" class="form-control" id="inputEmail3" 
              placeholder="获取"
              ng-model="mobile.new"
              ng-minlength=6
              ng-maxlength=13
              name="mobilenew" required>          
          </div>
          <div class="col-sm-5 error" ng-show="changeMobile.mobilenew.$dirty && changeMobile.mobilenew.$invalid">
            请填写正确的手机
          </div>         
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-disabled="changeMobile.$invalid">确定修改</button>
          </div>
        </div>
      </form>
</div>
