<div class="main-container">
    <div class="cnt-title">
        <h3>修改密码</h3>
    </div>
    <div class="cnt-main">
        <div class="field">
            <p class="notice">Helpful hints ： Please save your new password in case you forget it.</p>
        </div>
        <form id="cng_password">
            <div class="field">
                <span>Old password:</span><input id="old-psw" type="password" value="" placeholder="请输入原密码！">
            </div>
            <div class="field">
                <span>New password:</span><input id="new-paw" type="password" value="" placeholder="请输入新密码！">
            </div>
            <div class="field">
                <span></span>
                <button> 提交</button>
            </div>
        </form>
    </div>
</div>
