<h1>公司信息</h1>

<form action="" class="form-horizontal">
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">公司名称：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="请填写邮箱" id="">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">logo：</label>
    <div class="col-sm-5">
      <input type="file" name="上传" id="">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">简介：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="请填写邮箱" id="">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">网站：</label>
    <div class="col-sm-5">
      <input type="text" name="" class="form-control" placeholder="http://..." id="">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">成立时间：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="请填写邮箱" id="">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label"></label>
    <div class="col-sm-5">
      <select name="" id="">
        <option value="1960">1960</option>
        <option value="1960">1961</option>
        <option value="1960">1962</option>
        <option value="1960">1963</option>
        <option value="1960">1964</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">国家地区</label>
    <div class="col-sm-5">
      <select name="" id="">
        <option value="">中国</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">地址</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="请填写地址" id="">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">邮政编码：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="请填写邮政编码" id="">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">公司类型</label>
    <div class="col-sm-5">
      <input type="checkbox" name="" id=""> 采购办事处
      <input type="checkbox" name="" id=""> 采购办事处
      <input type="checkbox" name="" id=""> 采购办事处
      <input type="checkbox" name="" id=""> 采购办事处
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">公司性质:</label>
    <div class="col-sm-5">
      <input type="checkbox" name="" id=""> 撒地方
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">年采购量：</label>
    <div class="col-sm-5">
      <input type="radio" name="" id="">一百万一下
      <input type="radio" name="" id="">一百万一下
      <input type="radio" name="" id="">一百万一下
      <input type="radio" name="" id="">一百万一下
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-sm-offset-2">
      <button type="submit" class="btn btn-priarmy">保存</button>
    </div>
  </div>
</form>