<h1>{{title}}</h1>
<div ng-show="isset">已经设置过安全问题</div>
<div ng-show="isshow">
<div class="alert alert-warning">
  为了保证你的账户的安全, 请你设置下面的安全问题,作为以后的操作要求
</div> 
<h5><span class="glyphicon glyphicon-info-sign"></span> 功能提示:</h5>
<p>由用户选定的3个问题及对应答案组成，专门用于修改及找回密码, 修改email, 修改手机号和其它设置。主要包含用户的个人私有信息，包括：你的生日、你的家乡、你最爱的人等问题。（注：广电商不会泄露用户的隐私。</p>

 <form name="aq" class="form-horizontal" novalidate ng-submit="submit()">
  <div class="form-group">
    <label class="col-sm-2 control-label">设置安全问题1：</label>
    <div class="col-sm-5">
      <select name="issue1" class="form-control" 
      ng-model="saveIssue.securityIssuesSystemId1" 
      ng-options="o.id as o.issue for o in issueList"
      ng-change="selectChange(1)" required>
        <option value="">请选择</option>
      </select>
    </div>    
  </div>
  <div class="form-group" ng-show="isIssuesCustom1">
    <label class="col-sm-2 control-label">自定义问题1：</label>
    <div class="col-sm-5">
      <input type="text" name="securityIssuesCustom1" class="form-control" 
        ng-model="saveIssue.securityIssuesCustom1">
    </div>    
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">设置答案：</label>
    <div class="col-sm-5">
      <input type="text" name="answer1" class="form-control" 
        ng-model="saveIssue.securityIssuesAnswer1" required>
    </div>    
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">设置安全问题2：</label>
    <div class="col-sm-5">
       <select name="issue2" class="form-control"
        ng-options="o.id as o.issue for o in issueList"
        ng-model="saveIssue.securityIssuesSystemId2"
        ng-change="selectChange(2)" required>
        <option value="">请选择</option>
      </select>   
    </div>
  </div>
  <div class="form-group" ng-show="isIssuesCustom2">
    <label class="col-sm-2 control-label">自定义问题2：</label>
    <div class="col-sm-5">
      <input type="text" name="securityIssuesCustom1" class="form-control" 
        ng-model="saveIssue.securityIssuesCustom1">
    </div>    
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">设置答案：</label>
    <div class="col-sm-5">
      <input type="text" name="answer2" class="form-control"
        ng-model="saveIssue.securityIssuesAnswer2" required>
    </div>    
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">设置安全问题3：</label>
    <div class="col-sm-5">
     <select name="issue3" class="form-control"
      ng-options="o.id as o.issue for o in issueList"
      ng-model="saveIssue.securityIssuesSystemId3"
      ng-change="selectChange(3)" required>
      <option value="">请选择</option>
     </select> 
    </div>
  </div>
  <div class="form-group" ng-show="isIssuesCustom3">
    <label class="col-sm-2 control-label">自定义问题3：</label>
    <div class="col-sm-5">
      <input type="text" name="securityIssuesCustom3" class="form-control" 
        ng-model="saveIssue.securityIssuesCustom3">
    </div>    
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">设置答案：</label>
    <div class="col-sm-5">
      <input type="text" name="answer3" class="form-control"
        ng-model="saveIssue.securityIssuesAnswer3" required>
    </div>    
  </div>
  <div class="col-sm-offset-2">
  <button type="submit" ng-disabled="aq.$invalid" class="btn btn-primary">提交</button>
  </div>
  <span ng-bind="message"></span>
</form>
</div>