<h1>设置</h1>

<form name="userInfo" novalidate class="form-horizontal" ng-submit="submit()">
  

  <div class="form-group">
    <div for="" class="col-sm-2 control-label"><img ng-src="{{user.photo}}" alt="" width="60px;"></div>
    <div class="col-sm-5">
       <button class="btn">上传</button>
      支持格式：jpg，png，gif
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">电子邮件：</label>
    <div class="col-sm-5">
      191815416@qq.com
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">姓名：</label>
    <div class="col-sm-5">
      <input type="text" name="name" id="" placeholder="firstName"
        ng-model="user.name"
      >
      <input type="radio" name="" id="">男
      <input type="radio" name="" id="">女
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">国家地区</label>
    <div class="col-sm-5">
      <select name="" id="" class="form-control">
        <option value="">中国</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">手机：</label>
    <div class="col-sm-5">
      <input type="number" class="form-control" name="mobile" placeholder="number"
        ng-model="user.mobile">
    </div>
  </div>
  
  
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">地址</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="address" placeholder="请填写地址"
        ng-model="user.address">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">邮政编码：</label>
    <div class="col-sm-5">
      <input type="number" class="form-control" name="postcode" placeholder="请填写邮政编码"
        ng-model="user.postcode">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">电话：</label>
    <div class="col-sm-5">
      <input type="number" class="form-control" name="telephone" placeholder="请填写电话"
        ng-model="user.telephone">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">传真：</label>
    <div class="col-sm-5">
      <input type="number" class="form-control" name="fax" placeholder="请填写传真"
        ng-model="user.fax">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Msn：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="msn" placeholder="请填写Msn"
        ng-model="user.msn">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">QQ：</label>
    <div class="col-sm-5">
      <input type="number" class="form-control" name="qq" placeholder="请填写qq"
        ng-model="user.qq">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-5 col-sm-offset-2">
      <button type="submit" class="btn btn-primary" ng-disabled="userInfo.$invalid">保存</button>
    </div>
  </div>
</form>