<h1>设置</h1>

<form action="" class="form-horizontal">
  <div class="media">
    <div class="media-left">
      <img src="" alt="" width="150px;">
    </div>
    <div class="media-body">
      <button class="btn">上传</button>
      支持格式：jpg，png，gif
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">电子邮件：</label>
    <div class="col-sm-5">
      191815416@qq.com
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">姓名：</label>
    <div class="col-sm-5">
      <input type="text" name="" id="" placeholder="firstName">
      <input type="text" name="" id="" placeholder="lastName">
      <input type="radio" name="" id="">男
      <input type="radio" name="" id="">女
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">国家地区</label>
    <div class="col-sm-5">
      <select name="" id="">
        <option value="">中国</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">手机：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="number" id="">
    </div>
  </div>
  
  
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">地址</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="请填写地址" id="">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">邮政编码：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="请填写邮政编码" id="">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">电话：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="请填写邮政编码" id="">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">传真：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="请填写邮政编码" id="">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Msn：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="请填写邮政编码" id="">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">QQ：</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="" placeholder="请填写邮政编码" id="">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-5 col-sm-offset-2">
      <button type="submit" class="btn btn-priarmy">保存</button>
    </div>
  </div>
</form>