/*body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}*/
h2, .h2{
  font-size: 20px;
  margin-top: 0;
}
.docs-nav{
  background: #e04d2c;
  border-bottom: 0;

}
.docs-nav a{
    color:#fff;
}
.docs-nav li:hover a{
    background: #C24023;
}
.docs-nav li.active a{
  background: #fff;
  color:#e04d2c;
}
.docs-jumbotron{
  background: #6f5499;
  color:#cdbfe3
}
.docs-jumbotron h1{
  color:#fff;
  font-size: 40px;
}

.docs-module{

}
.docs-module .thumbnail{
  overflow: hidden;
  position: relative;
  height: 100px;
}
.docs-module .thumbnail a:hover{
  text-decoration: none;
}
.docs-module .thumbnail h3{
  font-size: 16px;
  margin: 5px 0;
}
.docs-module .thumbnail p{
  font-size: 14px;
}
.docs-module .thumbnail.finish:after{
  content: '完成';
  position: absolute;
  display: block;
  font-size: 10px;
  width: 80px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  top:12px;
  right: -20px; 
  background-color:#d00;
  color:#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (min-width: 768px) {
    .docs-sidebar {
        padding-left:20px
    }
}

.docs-sidenav {
    padding-top: 10px;
    background: #f8f8f8;
}

.docs-sidebar .nav>li>a {
    display: block;
    padding: 4px 20px;
    font-weight: 500;
    color: #767676
}

.docs-sidebar .nav>li>a:focus,.docs-sidebar .nav>li>a:hover {
    padding-left: 19px;
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-right: 1px solid #563d7c
}

.docs-sidebar .nav>.active:focus>a,.docs-sidebar .nav>.active:hover>a,.docs-sidebar .nav>.active>a {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-right: 2px solid #563d7c
}

.docs-sidebar .nav .nav {
    padding-bottom: 10px
}

.docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400
}

.docs-sidebar .nav .nav>li>a:focus,.docs-sidebar .nav .nav>li>a:hover {
    padding-left: 29px
}

.docs-sidebar .nav .nav>.active:focus>a,.bs-docs-sidebar .nav .nav>.active:hover>a,.bs-docs-sidebar .nav .nav>.active>a {
    padding-left: 28px;
    font-weight: 500
}



html{
    overflow-x: hidden;
}
.switchs.ng-enter,
.switchs.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
    position: absolute;
    top: 50px; right: 0; bottom: 0; left: 0;
    background: inherit;
    -ms-transition: .55s ease-in-out;
    -webkit-transition: .55s ease-in-out;
    transition:  .55s ease-in-out;
}


.switchs.ng-enter {
    z-index: 101;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.switchs.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.switchs.ng-leave {
    z-index: 100;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.switchs.ng-leave.ng-leave-active {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter {
    z-index: 100;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave {
    z-index: 101;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave.ng-leave-active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
