<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>select</title>
</head>
<body>
	
	<div id="J_input"></div>

	<script src="/components_module/requirejs/require.js"></script>
	<script>
	require.config({
		paths: {
			'artTemplate': '/components_module/artTemplate/dist/template',
			'jquery': '/components_module/jquery/dist/jquery',
			'class': '/dev/components/component/class/class',
			'base': '/dev/components/component/base/base',
			'event': '/dev/components/component/event/event',
			'selectCategory': '/dev/components/component/selectCategory/index'
		}
	});
	require(['jquery', 'selectCategory'], function($, selectCategory) {
		var a = new selectCategory({
			id: $('#J_input'),
      model: ['摄影', '电影', '民谣', '旅行', '吉他']
		});
    a.on('cateChang', function(id){
      console.log(id);
    })
		// console.log(a);
		// a.on('Text', function(num){
		// 	if (num > 5) {
		// 		alert('超过了5个字');
		// 	}
		// })
	});
	</script>
</body>
</html>