/**
 * 定义全局变量
 * author: 周王献
 * time: 2015-06-15
 */
.badge {
  display: inline;
  padding: .2em 9px .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #999;
}
a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.badge-default {
  background-color: #777777;
}
.badge-default[href]:hover,
.badge-default[href]:focus {
  background-color: #5e5e5e;
}
.badge-primary {
  background-color: #428bca;
}
.badge-primary[href]:hover,
.badge-primary[href]:focus {
  background-color: #3071a9;
}
.badge-success {
  background-color: #5cb85c;
}
.badge-success[href]:hover,
.badge-success[href]:focus {
  background-color: #449d44;
}
.badge-info {
  background-color: #5bc0de;
}
.badge-info[href]:hover,
.badge-info[href]:focus {
  background-color: #31b0d5;
}
.badge-warning {
  background-color: #f0ad4e;
}
.badge-warning[href]:hover,
.badge-warning[href]:focus {
  background-color: #ec971f;
}
.badge-danger {
  background-color: #d9534f;
}
.badge-danger[href]:hover,
.badge-danger[href]:focus {
  background-color: #c9302c;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse[href]:hover,
.badge-inverse[href]:focus {
  background-color: #1a1a1a;
}
.badge-important {
  background-color: #b94a48;
}
.badge-important[href]:hover,
.badge-important[href]:focus {
  background-color: #953b39;
}
