/* About The Flags Sign */
/*.flags{display:inline-block;margin-right:6px;width:20px;height:16px;background:url(../../../../dev/view/images/common/flags.png) no-repeat;vertical-align:-3px;*vertical-align:0;}*/
.fs1 {
  background-position: 0 0;
}
.fs10 {
  background-position: 0 -26px;
}
.fs100 {
  background-position: 0 -52px;
}
.fs101 {
  background-position: 0 -78px;
}
.fs102 {
  background-position: 0 -104px;
}
.fs103 {
  background-position: 0 -130px;
}
.fs104 {
  background-position: 0 -156px;
}
.fs105 {
  background-position: 0 -182px;
}
.fs106 {
  background-position: 0 -208px;
}
.fs107 {
  background-position: 0 -234px;
}
.fs108 {
  background-position: 0 -260px;
}
.fs109 {
  background-position: 0 -286px;
}
.fs11 {
  background-position: 0 -312px;
}
.fs110 {
  background-position: 0 -338px;
}
.fs111 {
  background-position: 0 -364px;
}
.fs112 {
  background-position: 0 -390px;
}
.fs113 {
  background-position: 0 -416px;
}
.fs114 {
  background-position: 0 -442px;
}
.fs115 {
  background-position: 0 -468px;
}
.fs116 {
  background-position: 0 -494px;
}
.fs117 {
  background-position: 0 -520px;
}
.fs118 {
  background-position: 0 -546px;
}
.fs119 {
  background-position: 0 -572px;
}
.fs12 {
  background-position: 0 -598px;
}
.fs120 {
  background-position: 0 -624px;
}
.fs121 {
  background-position: 0 -650px;
}
.fs122 {
  background-position: 0 -676px;
}
.fs123 {
  background-position: 0 -702px;
}
.fs124 {
  background-position: 0 -728px;
}
.fs125 {
  background-position: 0 -754px;
}
.fs126 {
  background-position: 0 -780px;
}
.fs127 {
  background-position: 0 -806px;
}
.fs128 {
  background-position: 0 -832px;
}
.fs129 {
  background-position: 0 -858px;
}
.fs13 {
  background-position: 0 -884px;
}
.fs130 {
  background-position: 0 -910px;
}
.fs131 {
  background-position: 0 -936px;
}
.fs132 {
  background-position: 0 -962px;
}
.fs133 {
  background-position: 0 -988px;
}
.fs134 {
  background-position: 0 -1014px;
}
.fs135 {
  background-position: 0 -1040px;
}
.fs136 {
  background-position: 0 -1066px;
}
.fs137 {
  background-position: 0 -1092px;
}
.fs138 {
  background-position: 0 -1118px;
}
.fs139 {
  background-position: 0 -1144px;
}
.fs14 {
  background-position: 0 -1170px;
}
.fs140 {
  background-position: 0 -1196px;
}
.fs141 {
  background-position: 0 -1222px;
}
.fs142 {
  background-position: 0 -1248px;
}
.fs143 {
  background-position: 0 -1274px;
}
.fs144 {
  background-position: 0 -1300px;
}
.fs145 {
  background-position: 0 -1326px;
}
.fs146 {
  background-position: 0 -1352px;
}
.fs147 {
  background-position: 0 -1378px;
}
.fs148 {
  background-position: 0 -1404px;
}
.fs149 {
  background-position: 0 -1430px;
}
.fs15 {
  background-position: 0 -1456px;
}
.fs150 {
  background-position: 0 -1482px;
}
.fs151 {
  background-position: 0 -1508px;
}
.fs152 {
  background-position: 0 -1534px;
}
.fs153 {
  background-position: 0 -1560px;
}
.fs154 {
  background-position: 0 -1586px;
}
.fs155 {
  background-position: 0 -1612px;
}
.fs156 {
  background-position: 0 -1638px;
}
.fs157 {
  background-position: 0 -1664px;
}
.fs158 {
  background-position: 0 -1690px;
}
.fs159 {
  background-position: 0 -1716px;
}
.fs16 {
  background-position: 0 -1742px;
}
.fs160 {
  background-position: 0 -1768px;
}
.fs161 {
  background-position: 0 -1794px;
}
.fs162 {
  background-position: 0 -1820px;
}
.fs163 {
  background-position: 0 -1846px;
}
.fs164 {
  background-position: 0 -1872px;
}
.fs165 {
  background-position: 0 -1898px;
}
.fs166 {
  background-position: 0 -1924px;
}
.fs167 {
  background-position: 0 -1950px;
}
.fs168 {
  background-position: 0 -1976px;
}
.fs169 {
  background-position: -30px 0;
}
.fs17 {
  background-position: -30px -26px;
}
.fs170 {
  background-position: -30px -52px;
}
.fs171 {
  background-position: -30px -78px;
}
.fs172 {
  background-position: -30px -104px;
}
.fs173 {
  background-position: -30px -130px;
}
.fs174 {
  background-position: -30px -156px;
}
.fs175 {
  background-position: -30px -182px;
}
.fs176 {
  background-position: -30px -208px;
}
.fs177 {
  background-position: -30px -234px;
}
.fs178 {
  background-position: -30px -260px;
}
.fs179 {
  background-position: -30px -286px;
}
.fs18 {
  background-position: -30px -312px;
}
.fs180 {
  background-position: -30px -338px;
}
.fs181 {
  background-position: -30px -364px;
}
.fs182 {
  background-position: -30px -390px;
}
.fs183 {
  background-position: -30px -416px;
}
.fs184 {
  background-position: -30px -442px;
}
.fs185 {
  background-position: -30px -468px;
}
.fs186 {
  background-position: -30px -494px;
}
.fs187 {
  background-position: -30px -520px;
}
.fs188 {
  background-position: -30px -546px;
}
.fs189 {
  background-position: -30px -572px;
}
.fs19 {
  background-position: -30px -598px;
}
.fs190 {
  background-position: -30px -624px;
}
.fs191 {
  background-position: -30px -650px;
}
.fs192 {
  background-position: -30px -676px;
}
.fs193 {
  background-position: -30px -702px;
}
.fs194 {
  background-position: -30px -728px;
}
.fs195 {
  background-position: -30px -754px;
}
.fs196 {
  background-position: -30px -780px;
}
.fs197 {
  background-position: -30px -806px;
}
.fs198 {
  background-position: -30px -832px;
}
.fs199 {
  background-position: -30px -858px;
}
.fs2 {
  background-position: -30px -884px;
}
.fs20 {
  background-position: -30px -910px;
}
.fs200 {
  background-position: -30px -936px;
}
.fs201 {
  background-position: -30px -962px;
}
.fs202 {
  background-position: -30px -988px;
}
.fs203 {
  background-position: -30px -1014px;
}
.fs204 {
  background-position: -30px -1040px;
}
.fs205 {
  background-position: -30px -1066px;
}
.fs206 {
  background-position: -30px -1092px;
}
.fs207 {
  background-position: -30px -1118px;
}
.fs208 {
  background-position: -30px -1144px;
}
.fs209 {
  background-position: -30px -1170px;
}
.fs21 {
  background-position: -30px -1196px;
}
.fs210 {
  background-position: -30px -1222px;
}
.fs211 {
  background-position: -30px -1248px;
}
.fs212 {
  background-position: -30px -1274px;
}
.fs213 {
  background-position: -30px -1300px;
}
.fs214 {
  background-position: -30px -1326px;
}
.fs215 {
  background-position: -30px -1352px;
}
.fs216 {
  background-position: -30px -1378px;
}
.fs217 {
  background-position: -30px -1404px;
}
.fs218 {
  background-position: -30px -1430px;
}
.fs219 {
  background-position: -30px -1456px;
}
.fs22 {
  background-position: -30px -1482px;
}
.fs220 {
  background-position: -30px -1508px;
}
.fs221 {
  background-position: -30px -1534px;
}
.fs222 {
  background-position: -30px -1560px;
}
.fs223 {
  background-position: -30px -1586px;
}
.fs224 {
  background-position: -30px -1612px;
}
.fs225 {
  background-position: -30px -1638px;
}
.fs226 {
  background-position: -30px -1664px;
}
.fs227 {
  background-position: -30px -1690px;
}
.fs228 {
  background-position: -30px -1716px;
}
.fs229 {
  background-position: -30px -1742px;
}
.fs23 {
  background-position: -30px -1768px;
}
.fs230 {
  background-position: -30px -1794px;
}
.fs231 {
  background-position: -30px -1820px;
}
.fs232 {
  background-position: -30px -1846px;
}
.fs233 {
  background-position: -30px -1872px;
}
.fs234 {
  background-position: -30px -1898px;
}
.fs235 {
  background-position: -30px -1924px;
}
.fs236 {
  background-position: -30px -1950px;
}
.fs237 {
  background-position: -30px -1976px;
}
.fs238 {
  background-position: -60px 0;
}
.fs239 {
  background-position: -60px -26px;
}
.fs24 {
  background-position: -60px -52px;
}
.fs240 {
  background-position: -60px -78px;
}
.fs241 {
  background-position: -60px -104px;
}
.fs242 {
  background-position: -60px -130px;
}
.fs243 {
  background-position: -60px -156px;
}
.fs244 {
  background-position: -60px -182px;
}
.fs245 {
  background-position: -60px -208px;
}
.fs246 {
  background-position: -60px -234px;
}
.fs247 {
  background-position: -60px -260px;
}
.fs248 {
  background-position: -60px -286px;
}
.fs25 {
  background-position: -60px -312px;
}
.fs26 {
  background-position: -60px -338px;
}
.fs27 {
  background-position: -60px -364px;
}
.fs28 {
  background-position: -60px -390px;
}
.fs29 {
  background-position: -60px -416px;
}
.fs3 {
  background-position: -60px -442px;
}
.fs30 {
  background-position: -60px -468px;
}
.fs31 {
  background-position: -60px -494px;
}
.fs32 {
  background-position: -60px -520px;
}
.fs33 {
  background-position: -60px -546px;
}
.fs34 {
  background-position: -60px -572px;
}
.fs35 {
  background-position: -60px -598px;
}
.fs36 {
  background-position: -60px -624px;
}
.fs37 {
  background-position: -60px -650px;
}
.fs38 {
  background-position: -60px -676px;
}
.fs39 {
  background-position: -60px -702px;
}
.fs4 {
  background-position: -60px -728px;
}
.fs40 {
  background-position: -60px -754px;
}
.fs41 {
  background-position: -60px -780px;
}
.fs42 {
  background-position: -60px -806px;
}
.fs43 {
  background-position: -60px -832px;
}
.fs44 {
  background-position: -60px -858px;
}
.fs45 {
  background-position: -60px -884px;
}
.fs46 {
  background-position: -60px -910px;
}
.fs47 {
  background-position: -60px -936px;
}
.fs48 {
  background-position: -60px -962px;
}
.fs49 {
  background-position: -60px -988px;
}
.fs5 {
  background-position: -60px -1014px;
}
.fs50 {
  background-position: -60px -1040px;
}
.fs51 {
  background-position: -60px -1066px;
}
.fs52 {
  background-position: -60px -1092px;
}
.fs53 {
  background-position: -60px -1118px;
}
.fs54 {
  background-position: -60px -1144px;
}
.fs55 {
  background-position: -60px -1170px;
}
.fs56 {
  background-position: -60px -1196px;
}
.fs57 {
  background-position: -60px -1222px;
}
.fs58 {
  background-position: -60px -1248px;
}
.fs59 {
  background-position: -60px -1274px;
}
.fs6 {
  background-position: -60px -1300px;
}
.fs60 {
  background-position: -60px -1326px;
}
.fs61 {
  background-position: -60px -1352px;
}
.fs62 {
  background-position: -60px -1378px;
}
.fs63 {
  background-position: -60px -1404px;
}
.fs64 {
  background-position: -60px -1430px;
}
.fs65 {
  background-position: -60px -1456px;
}
.fs66 {
  background-position: -60px -1482px;
}
.fs67 {
  background-position: -60px -1508px;
}
.fs68 {
  background-position: -60px -1534px;
}
.fs69 {
  background-position: -60px -1560px;
}
.fs7 {
  background-position: -60px -1586px;
}
.fs70 {
  background-position: -60px -1612px;
}
.fs71 {
  background-position: -60px -1638px;
}
.fs72 {
  background-position: -60px -1664px;
}
.fs73 {
  background-position: -60px -1690px;
}
.fs74 {
  background-position: -60px -1716px;
}
.fs75 {
  background-position: -60px -1742px;
}
.fs76 {
  background-position: -60px -1768px;
}
.fs77 {
  background-position: -60px -1794px;
}
.fs78 {
  background-position: -60px -1820px;
}
.fs79 {
  background-position: -60px -1846px;
}
.fs8 {
  background-position: -60px -1872px;
}
.fs80 {
  background-position: -60px -1898px;
}
.fs81 {
  background-position: -60px -1924px;
}
.fs82 {
  background-position: -60px -1950px;
}
.fs83 {
  background-position: -60px -1976px;
}
.fs84 {
  background-position: -90px 0;
}
.fs85 {
  background-position: -90px -26px;
}
.fs86 {
  background-position: -90px -52px;
}
.fs87 {
  background-position: -90px -78px;
}
.fs88 {
  background-position: -90px -104px;
}
.fs89 {
  background-position: -90px -130px;
}
.fs9 {
  background-position: -90px -156px;
}
.fs90 {
  background-position: -90px -182px;
}
.fs91 {
  background-position: -90px -208px;
}
.fs92 {
  background-position: -90px -234px;
}
.fs93 {
  background-position: -90px -260px;
}
.fs94 {
  background-position: -90px -286px;
}
.fs95 {
  background-position: -90px -312px;
}
.fs96 {
  background-position: -90px -338px;
}
.fs97 {
  background-position: -90px -364px;
}
.fs98 {
  background-position: -90px -390px;
}
.fs99 {
  background-position: -90px -416px;
}
