<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <h1>{{title}}</h1>
    <form name="login" novalidate ng-submit="submit()">
      <div class="form-group">
        <label for="name">用户名</label>
        <input type="text" class="form-control" id="name"
          placeholder="输入用户名或邮箱" 
          name="name"
          ng-model="user.name" 
          ng-minlength=3
          ng-maxlength=20 required>
        <div class="error" ng-show="login.name.$dirty && login.name.$invalid">
          <small class="error" ng-show="login.name.$error.required">
            姓名为必填项
          </small>
          <small class="error" ng-show="login.name.$error.minlength || login.name.$error.maxlength">
            长度为3~20字符
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password"
          placeholder="输入密码"
          name="password"
          ng-model="user.password"
          ng-minlength=6
          ng-maxlength=20 required>
        <div class="error" ng-show="login.password.$dirty && login.password.$invalid">
            <small class="error" ng-show="login.password.$error.required">
            密码为必填项
          </small>
          <small class="error" ng-show="login.password.$error.minlength || login.password.$error.maxlength">
            长度为6~20字符
          </small>
        </div>
      </div>
      <button type="submit" ng-disabled="login.$invalid" class="btn btn-default">提交</button>

      <span ng-bind="message"></span>
    </form>
  </div>
</div>