<div class="main-container">
    <div class="cnt-title">
        <h3>安全中心</h3>
    </div>
    <div class="cnt-main">
        <table class="account-tab" cellpadding="0" cellspacing="0">
            <tr>
                <td class="w120"></td>
                <td class="w180"><b>Change Password</b></td>
                <td class="w250"></td>
                <td class="120"></td>
            </tr>
            <tr>
                <td></td>
                <td><b>Change Email</b></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><b>Change Password</b></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
