<div class="main-container">
    <div class="cnt-title">
        <h3>Change Mobile</h3>
    </div>
    <div class="cnt-main">
        <div class="field">
            <p class="notice">Helpful hints ： change mobile forcontact，A valid mobile is required for the contact between us.</p>
        </div>
        <form id="cng_password">
            <div class="field">
                <span>Old Mobile:</span><input id="old-mobile" type="text"  value="{{}}">
            </div>
            <div class="field">
                <span>Password:</span><input id="new-email" type="password" value="" placeholder="请输入密码验证!">
            </div>
            <div class="field">
                <span></span>
                <button> 提交</button>
            </div>
        </form>
    </div>
</div>
